Service References/Dr_validation/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="Check_Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="Dr" nillable="true" type="q1:dr_profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="Check_AccountResult" nillable="true" type="q2:messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>