Service References/Dr_validation/WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dr_profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="activation_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="app_version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="group_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provider_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="specialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dr_profile" nillable="true" type="tns:dr_profile" />
  <xs:complexType name="messages">
    <xs:sequence>
      <xs:element minOccurs="0" name="msgs" nillable="true" type="tns:ArrayOfmessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="messages" nillable="true" type="tns:messages" />
  <xs:complexType name="ArrayOfmessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmessage" nillable="true" type="tns:ArrayOfmessage" />
  <xs:complexType name="message">
    <xs:sequence>
      <xs:element minOccurs="0" name="ftp_pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ftp_uid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message_coupon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message_website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="message" nillable="true" type="tns:message" />
</xs:schema>